
@media (max-width: 575.98px) {
	.container.dashboard_con {
	    margin-top: 0px;
	    padding: 10px 20px;
	}
	.col-12.col-md-4.counter_con_item {
	    margin-bottom: 5px;
	}

	section.quick_create_user_section {
	    padding: 20px 10px;
	}

	section.quick_create_user_section {
    	padding: 10px!important;
	}
}
@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) { ... }