<div class="row create_plan_con">
	<div class="col-12 col-md-12">

		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="inputEmail4">First Name</label>
				<input type="text" value="" class="form-control" id="first_name" value="" placeholder="First Name">
			</div>
			<div class="form-group col-md-6">
				<label for="inputPassword4">Last Name</label>
				<input type="test" class="form-control" id="last_name" value="" placeholder="Last Name">
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-12">
				<label for="inputEmail4">Email</label>
				<input type="text" class="form-control" id="email" value="" placeholder="Email">
			</div>
		</div>
	
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="inputZip">Location</label>
				<input type="text" value="" class="form-control" id="location">
			</div>
			<div class="form-group col-md-6">
				<label for="inputState">Gender</label>
				<select id="sex" class="form-control">
					<option value="">Choose...</option>
					<option value="male">Male</option>
					<option value="female">Female</option>
				</select>
			</div>
		</div>

		<button onclick="createUser()" type="button" class="btn btn-primary">Create</button>
	</div>
</div>
