<div class="row counter_con">
	<div class="col-12 col-md-4 counter_con_item">
		<span id="customer_stat_counter" class="counter_con_item_count">{{ customers|length }}</span>
		<span class="counter_con_item_count_label">Users</span>
	</div>
	<div class="col-12 col-md-4 counter_con_item">
		<span class="counter_con_item_count">{{ plans|length }}</span>
		<span class="counter_con_item_count_label">Plans</span>
	</div>
	<div class="col-12 col-md-4 counter_con_item">
		<span class="counter_con_item_count">{{ Exercise|length }}</span>
		<span class="counter_con_item_count_label">Exercise</span>
	</div>
</div>
