<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Standalone Form Component</title>

<link rel="stylesheet" type="text/css" href="/views/public/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/views/public/css/app.css">
<link rel="stylesheet" type="text/css" href="/views/public/css/view_port.css">

<link rel="stylesheet" type="text/css" href="/views/public/css/sweetalert.css">
<script src="/views/public/js/sweetalert.js"></script>
<script src="/views/public/js/jquery.js "></script>
<script src="/views/public/js/app.js "></script>
<script src="/views/public/js/app.js" type="text/javascript"></script>
<script src="/views/public/js/popper.js" type="text/javascript"></script>
<script src="/views/public/js/bootstrap.js" type="text/javascript"></script>
