<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">
		<img src="https://static.virtuagym.com/v29521525/images/virtuagym_logo.svg" height="30" alt="">
	</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link active" href="/">Dashboard</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Customers</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/customers">List Customers</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Plan</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/plans">Plans</a>
				</div>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/plan/add">Add Plan</a>
				</div>
			</li>
		</ul>
	</div>

</nav>




