<html>
	<head>
		{{ include('common/headers.twig') }}
	</head>
	<body>
		{{ include('common/main_nav.twig') }}
		<div class="container dashboard_con bg-light">
			<section>
				<h3 class="section_header">Statistics</h3>
				{{ include('common/dashboard_status.twig', {'customers': customers, 'plans': plans}) }}
			</section>
			<section class="quick_create_user_section">
				<h3 class="section_header">Quick Create Customer</h3>
				{{ include('common/create_customer.twig', {'customers': customers, 'plans': plans}) }}
			</section>
		</div>
	</body>
</html>